# Django
*.log
*.pot
*.pyc
__pycache__/
db.sqlite3
media
staticfiles

# Vue.js
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environments
.env
.venv
venv/
env/

# Docker
*.swp
.idea
.vscode

# Database
*.sql
*.dump
